/* ----------------------------------------------------------------------------AJUSTES GENERALES */
html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
  user-select: none;
}

textarea {
  resize: none;
  overflow: hidden;
}
textarea:focus {
  position: relative;
  z-index: 100;
}

/* ----------------------------------------------------------------------------CLASES SECUNDARIAS */
.oculto {
  display: none !important;
}

.huesoTexto {
  /* Evita que se coma los saltos de línea al editar texto */
  white-space: pre-wrap;
}

.textBox {
  background-color: rgba(255, 255, 255, 0.5);
}

.noContainer {
  border: 2px solid hsl(0, 0%, 75%);
  margin: -1px;
}

/* ----------------------------------------------------------------------------OBJETOS REPETIDOS */

/* ---------------------------------------------------------------ICONITOS */
.iconito {
  width: 32px;
  height: 32px;
  padding: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
}

/* ---------------------------------------------------------------BOTÓN AGREGAR */
.agregar,
.agregar * {
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.agregar * {
  width: 28px !important;
  height: 28px !important;

  font-weight: bolder !important;
  text-align: center !important;

  background-color: lightgrey !important;
  border: 2px solid black !important;
  border-radius: 100% !important;
}

/* ---------------------------------------------------------------MENÚ CONTEXTUAL */
#contextMenu,
#iconMenu {
  z-index: 10;

  /* max-height: 200px;
  overflow: auto; */

  position: fixed;

  background-color: rgba(255, 255, 255, 0.75);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Secciones */
#contextMenu div {
  display: flex;
  flex-direction: column;
}

/* Botones */
.menuOption {
  width: 150px;
  height: 50px;
  margin-bottom: -2px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;

  background-color: white;
  border: 2px solid black;

  /* user-select: none; */
}
.menuOption:hover {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

/* ---------------------------------------------------------------EVENTOS */
/* Nodo principal */
.eventoMain {
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  background-color: rgba(0, 255, 0);
}

/* Cabeza del nodo principal */
.eventoHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.perfil {
  width: 70px;
  height: 100px;
}

.resumen,
.eventoHead,
.eventoInnerHead {
  width: 200px;
}

.resumen * {
  min-height: 100px;
}

.aportesInner {
  display: flex;
  flex-direction: column;
  gap: -1px;
}
.aporte {
  min-width: 50px;
  min-height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aporte * {
  height: 100%;
}
.aporte_texto {
  width: 125px;
  min-height: 50px;
}

.eventoInnerHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.eventoInnerHead * {
  height: 24px;
}

.tiempo,
.index {
  width: 25%;

  background-color: lightgray;
}
.tension {
  width: 50%;
}
.tension .slider {
  width: 50%;
}

.title {
  width: 100%;
  min-height: 24px;

  background-color: lightgray;

  text-align: center;
}
