html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

/* ----------------------------------------------------------------------------CLASES SECUNDARIAS */
.oculto {
  display: none !important;
}

/* ----------------------------------------------------------------------------OBJETOS REPETIDOS */

/* ---------------------------------------------------------------MENÚ CONTEXTUAL */
#contextMenu {
  z-index: 10;

  /* max-height: 200px;
  overflow: auto; */

  position: fixed;

  background-color: rgba(255, 255, 255, 0.75);

  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* #contextMenu.oculto {
  display: none;
} */

/* Secciones */
#contextMenu div {
  display: flex;
  flex-direction: column;
}

/* Botones */
.menuOption {
  width: 150px;
  height: 50px;
  margin-bottom: -2px;

  background-color: white;
  border: 2px solid black;

  user-select: none;
}
.menuOption:hover {
  background-color: hsl(0, 0%, 90%);
  cursor: pointer;
}

/* ---------------------------------------------------------------EVENTOS */
.evento * {
  background-color: rgba(0, 255, 0);
}

/* Nodo principal */
.eventoMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  border: 2px solid blue;
}

/* Secciones del nodo principal */
.eventoMain * {
  background-color: rgba(255, 255, 255, 0.5);
}

.perfil {
  width: 70px;
  height: 100px;

  border: 2px solid orange;
}

textarea {
  resize: none;
}

.resumen,
.title {
  width: 200px;

  white-space: pre-wrap;
}

.resumen {
  height: 100px;
  min-height: 100px;

  border: 2px solid brown;
}

.title {
  min-height: 10px;

  border: 2px solid burlywood;

  text-align: center;
}
.title * {
  width: 100%;
  height: 100%;

  background-color: lightgray;
}
